<div class="container">
 <div class="row">
  <div class="col-sm-6">
    <h1>Twitterクローン</h1>
    <p>身売り中</p>
  </div>
  <div class="col-sm-6">
    <%= image_tag("twiiter画像.jpg") %>
  </div>
 </div>
</div>
